* {
    margin: 0;
    /* padding: 0; */
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

body{
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin-top: 20px;
}

input, button{
    font-family: "Roboto", sans-serif;
}

header{
    margin-bottom: 40px;
    margin-left: 10px;
}
nav{
    display: flex;
    align-items: center;
    color:  var(--text-title);
}
img{
    width: 30px;
    height: 30px;
}

h1{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-title);
}

#id-fieldset{
    display: flex;
    color: var(--text-base);
    box-sizing: border-box;
    border: none;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;

}

#id-head{
    padding-bottom: 20px;
}

#id-form{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 350px;
}

#id-email, #id-password{
    background-color: var(--form-background);
    border: 2px solid var(--text-base);
    height: 30px;
    margin-bottom: 10px;
}

#id-email{
    padding-left: 25px;
    background: url("./images/mail.svg") no-repeat left;
    color: var(--text-base);
}

#div-password{
    display: flex;
    justify-content: space-between;
}

#id-password{
    flex: 1;
    padding-left: 25px;
    background: url("./images/lock.svg") no-repeat left;
    border-right: none;
    color: var(--text-base);
}

#hide-password{
    height: 35.97px;
    width: 30px;
    background: url("./images/eye.svg") no-repeat;
    background-position: center;
    border: 2px solid var(--text-base);
    border-left: none;

}

label{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.3rem;
}

#id-remember{
    display: flex;
    justify-content: space-between;
}

#id-register{
    display: flex;
    justify-content: center;
    color:  var(--primary-color);
    margin-bottom: 40px;
}

a{
    color:  var(--primary-color);
}

#id-button{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border: none;
    height: 30px;
    font-weight: bold;
    color:  var(--form-background);
}

input[type="checkbox"]{
    appearance: none;
    --input-color: var(--text-title);
    border: 1px solid var(--text-base);
    width: 1rem;
    height: 1rem;
    display: grid;
    place-content: center;    
}

input[type="checkbox"]:checked{
    background-color: var(--primary-color);   
}

#id-email, #id-password{
    color: var(--text-base);
}

#id-email:focus-within{
    padding-left: 25px;
    background: url("./images/mail-focus.svg") no-repeat left;
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-color);
    border-radius: 5px;
}

#id-password:focus-within{
    padding-left: 25px;
    background: url("./images/lock-focus.svg") no-repeat left;
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-color);
    border-radius: 5px;

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--form-background);
    border: 1px solid var(--text-base);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--text-base);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--primary-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 2px;
    height: 7px;
    border: solid var(--background);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media (min-width: 420px) {
    #id-fieldset {
      max-width: 500px;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: var(--form-background);
    }
    body{
        margin-left: 50px;
        background-image: url("./images/side-image-2x.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
    }
  }